version: "3.7"

networks:
  app-tier:
    driver: bridge

services:
  app:
    build:
      context: .
    ports:
      - "8080:8080"
    volumes:
      - ./app:/opt/nautilus/web-app
      - ./app/logs:/opt/nautilus/web-app/logs
    command:
      - /startserver.sh
    environment:
      - DB_HOST=db
      - DB_NAME=${DATABASE_NAME}
      - DB_USER=${DATABASE_ADMIN_USER}
      - DB_PASSWORD=${DATABASE_ADMIN_PASSWD}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_HOST=redis
      - REDIS_PORT=${REDIS_PORT}
      - DJANGO_SUPERUSER_NAME=${DJANGO_SUPERUSER_NAME}
      - DJANGO_SUPERUSER_PASSWORD=${DJANGO_SUPERUSER_PASSWORD}
      - JUMPCLOUD_URL=${JUMPCLOUD_URL}
      - JUMPCLOUD_OID=${JUMPCLOUD_OID}
      - JUMPCLOUD_DN=${JUMPCLOUD_DN}
    depends_on:
      - db
      - redis
    networks:
      - app-tier

  db:
    image: "postgres:10"
    restart: always
    environment:
      - POSTGRES_DB=${DATABASE_NAME}
      - POSTGRES_USER=${DATABASE_ADMIN_USER}
      - POSTGRES_PASSWORD=${DATABASE_ADMIN_PASSWD}
    networks:
      - app-tier

  redis:
    image: "redis:5"
    ports:
      - "6379:6379"
    environment:
      - REDIS_REPLICATION_MODE=master
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: redis-server --requirepass ${REDIS_PASSWORD}
    restart: always
    networks:
      - app-tier