{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Nautilus Home Page</title>
        <link rel="stylesheet" href="{% static 'web/bootstrap-4.4.1/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'web/bootswatch-4.4.1/css/bootstrap-cyborg.min.css' %}">
        <link rel="stylesheet" href="{% static 'web/bootswatch-4.4.1/css/custom.min.css' %}">
    {% endblock %}
    </head>


    <body>
    {% block body %}
        <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <div class="container">
                <a href="{% url 'web:home' %}" class="navbar-brand">Nautilus</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav">
                        {% block navbar-items %}{% endblock %}
                    </ul>
                </div>
            </div>
        </div>


        <div class="container">
            {% block page-header %}{% endblock %}

            {% block content %}{% endblock %}

            {% block footer %}
            <footer id="footer">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled">
                            <li class="float-lg-right"><a href="#top">Back to top</a></li>
                            <li><a href="https://blog.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Confluence</a></li>
                            <li><a href="https://twitter.com/bootswatch">Jira</a></li>
                            <li><a href="https://github.com/thomaspark/bootswatch/">Bitbucket</a></li>
                        </ul>
                        <p>Theme made by <a href="https://thomaspark.co">Thomas Park</a>.</p>
                        <p>Nautilus code can be found <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE"> GitHub</a>.</p>
                    </div>
                </div>
            </footer>
            {% endblock %}
        </div>

        <script src="{% static 'web/jquery-3.4.1/jquery-3.4.1.slim.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'web/popper-1.16.0/popper.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'web/bootstrap-4.4.1/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'web/bootswatch-4.4.1/js/bootstrap-cyborg.js' %}" type="text/javascript"></script>

    {% endblock %}
    </body>

</html>
